<!--@ns modal-ok-cancel Modal Ok Cancel-->
<!--@v * --@v Ok cancel modal -->

<!--@cr --@cr _CR_ -->
 

<div>
  <b-btn v-b-modal.modal>Launch demo modal</b-btn>

  <!-- Modal Component -->
  <b-modal id="modal" title="Bootstrap-Vue">
    <p class="my-4">Hello from modal!</p>
  </b-modal>
</div>