<!--@ns anim-scroll-down Animated Scroll down-->
<!--@v * --@v eval code -->

<!--@cr  Took code from https://typora.io/ -->
 
<div>

<div class="scroll-down-div" onclick="$('#title-bar-feature-btn').trigger('click')"><i class="fa fa-angle-down" style="-webkit-animation: pulse 1.5s infinite;animation: pulse 1.5s infinite;font-size: 28px;position:absolute;color:black;"></i></div>

</div>