<tr>
<td>
<a href="{{afc_url_base}}/view/chat/{{Idug}}/html" target=_blank>{{Id}}</a>
</td>
<td>
{{SentResult}}
</td>
<td style="max-width:230px">
{{FeedbackText}}
</td>
<td style="max-width:230px">
{{Category}}
</td>
<td style="max-width:230px">
{{ChatLine}}
</td>
</tr>