<!--@ns sk-chart-overview organisms-sk-chart-overview-->
<!--@v * --@v organisms-sk-chart-overview -->

<!--@cr --@cr accordion model used in alpha version codename AFC -->
 
<div>



<br>Edit
<br>View
<br>SChat about it
<br>Expand ACtion/current reality
<br>Update due date
<img src="http://afelia.jgwill.com/_/_db/screenshots/organisms-sk-chart-overview-render1902101637.PNG">


</div>