
<!--@v * --@v A JSON Data describe what data model with sample I must give the Navbar so it works.  -->
<!--@a See the MD file for more actions -->

<!--@cr --@cr _CR_ -->
 
<div>



{{#tstNavBar}}
{{> organisms-navbar}}
{{/tstNavBar}}

<span style="align: center"> "Innovating is not problem solving" <br>-J.Guillaume Isabelle</span>
<hr>
</div>