<!--@ns chartoverview pages-chartoverview-->
<!--@v * --@v Overview  Charting containing feedbacks as replies style, compacted chart with latest CR and action step status -->
<!--@a See the MD file for more actions -->

<!--@cr --@cr vUnified database view contains SChat along with NodeCharts.  Mastering Templating/modularity, A meeting with the Structural Tension Software Team in 2 hours. -->
 
<div>



<p>PLACEHOLDER for Chart Overview {{goal}}</p>
<hr>
{{>molecules-sk-simple-list}}
<h2>Overview of Charting containing feedbacks as replies style, compacted chart with latest CR and action step status</h2>
{{stcGoal}}



</div>