<!--@ns my-organizations pages-my-organizations-->
<!--@v * --@v __GOAL__ -->

<!--@cr --@cr _CR_ -->
 
<div>


<p> 

List of my organizations (Collective creation grouping people)</p>


<p> {{goal}}</p>
<hr>
{{>molecules-sk-simple-list}}
<h2>
{{stcGoal}}
</h2>

</div>