<!--@ns rolelevel-perspective templates-rolelevel-perspective-->
<!--@v * --@v templates-rolelevel-perspective -->
<!--@a See the MD file for more actions -->

<!--@cr --@cr Germinated 190210 -->
 
<div>


<h2>Germinated components embedded in this </h2>
<pre>
slider
organism-hierarchical-top-render
molecules-myrole
molecules-timeframe-left
molecules-duetime-left-current-action
</pre>

</div>